---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import About from "../sections/About.astro";
import Formation from "../sections/Formation.astro";
import Projects from "../sections/Projects.astro";
import MobileMenu from "../components/MobileMenu.astro";
---

<Layout title="Mi portfolio">
  <main class="pt-[120px] px-4 md:px-7 lg:w-[75%] max-w-[1000px]">
    <About />
    <Formation />
    <Projects />
    <MobileMenu />
  </main>
</Layout>
