---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import About from '../sections/About.astro';
import Formation from '../sections/Formation.astro';
import Projects from '../sections/Projects.astro';

---

<Layout title='Mi portfolio'>
	<main class="p-7 pt-[120px] lg:w-[75%] max-w-[1000px] ">
		<About/>
		<Formation/>
		<Projects/>
	</main>
</Layout>
